body{
  --body-color: #50b7f5;
  --background-body-color: rgba(209, 202, 202, 0.49);
}

.app{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}